:root{
    --text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    --blue: linear-gradient(180deg, #2E2E3A 0%, #0C0C2C 100%);
    --cell: linear-gradient(180deg, #0120CB 0%, #011BA9 100%);
}
html, body{
    height: 100%;
}
body{
    background: var(--blue);
    background-size: 100% 100%;
}
.center{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

h1{
    font-size: 100px;
    font-family: "Gyparody", sans-serif;
    font-weight: bolder;
    /*color: linear-gradient(180deg, #eaecfe 0%, #cdd1ff 100%);*/
    background: -webkit-linear-gradient(#eaecfe, #cdd1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--text-shadow);
}

td{
    width: 200px;
    height: 75px;
    margin-bottom: 0.25em;
    font-size: large;
    font-family: 'Abel', sans-serif;
}
th{
    width: 200px;
    height: 75px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: larger;
    background: -webkit-linear-gradient(#eaecfe, #cdd1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--text-shadow);
}
button{
    background-color: wheat;
    width: 100%;
    height: 100%;
}
a{
    float:left;
    font-size: 25px;
    margin-left: 5%;
}
img{
    width: 65px;
    height: 65px;
}
